<app-navbar></app-navbar>

<div class="container">
    <br>
    
    <div class="row">

        <div class="col">
            <img src="https://th.bing.com/th/id/OIP.awAiMS1BCAQ2xS2lcdXGlwHaHH?w=222&h=213&c=7&r=0&o=5&pid=1.7" width="500px" height="500px">
        </div>

        <div class="col">
            <h1>Mi perfil</h1>
            <br>
            <h4>Usuario: {{usuario}}</h4>
            <h4>Estado: {{estado}}</h4>
            <h4>Rol: {{rol}}</h4>
        
            <br><br>
            <a class="btn btn-danger" href="">Cerrar Seccion</a>
    
        </div>

        

    </div>
    
</div>

