<app-navbar></app-navbar>

<div class="container p-4">

    <div class="row">

        <div class="row mb-4">

            <div class="col-10">
                <div class="d-flex " role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar por titulo" aria-label="Search" (input)="GetArticulosByTitulo()" [(ngModel)]="busqueda">
                    <button class="btn btn-outline-primary" type="submit" (click)="GetArticulosByTitulo()">Buscar</button>
                </div>
            </div>

        </div>

        <div class="col-3" *ngFor="let x of ArticulosData">
            <div class="card mb-3">

                <img src="{{x.Imagen}}" class="card-img-top" style="height: 200px;">
                <div class="card-body">
                    
                    
                    <h2 class="card-title">{{x.Titulo}}</h2>
                    <div class="card-text">
                        <h3 *ngIf="x.Categoria == 'Idiomas'" class="bg-info">{{x.Categoria}}</h3>
                        <h3 *ngIf="x.Categoria == 'Programacion'" class="bg-danger">{{x.Categoria}}</h3>
                        <h3 *ngIf="x.Categoria == 'Gastronomia'" class="bg-warning">{{x.Categoria}}</h3>


                        <p class="text-center">{{x.Descripcion}}</p>
                        <h2 class="text-center">${{x.Precio}}</h2>
                        <p class="text-center">{{x.Vendidos}} vendidos</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>











<app-footer></app-footer>